body{
    background-color: #e0e0e0;
}
.main{
    margin: 30px;
    background-color: white;
}
.question-title{
    margin-top:25px;
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.text-dsc{
    font-size: 12px;
    font-width: normal;
    color: #999999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    margin-bottom: 15px;
    display: block;
}
.jumbotron{
    margin:50px;
    background-color: #e0e0e0;
}
.comment{
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn_comment{
    float: right;
    margin-bottom: 10px;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}
.comment_sp{
    margin-top: 0px;
}
.menu{
    color: #999999;
     margin-top: 5px;

}
.menu .icon{
    margin-right: 5px;
    cursor: pointer;
}
.menu .active{
     color: #2e6da4;
}
.menu .icon:hover{
    color: #2e6da4;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px;
    float:right;
}